body{
    background-color: lightcoral;
}

h1{
    color:white;
    font-family:sans-serif;
    font-size:50px;
}

p{
    color:white;
    font-size:35px;
}

/*classes*/

.circle-pic{border-radius:100px;}
.heading-bar{
    margin:0px;
    top:0;
    height:120px;
    background-image:linear-gradient(red, maroon);
    display:flex;
    border-style:none none dotted none;
    border-color:cyan;
    border-width:20px;
}

.footer-bar{
    margin:0px;
    bottom:0;
    height: 120px;
    background-image:linear-gradient(to top,red, maroon);
    display:flex;
    border-style:dotted none none none;
    border-color:cyan;
    border-width: 10px;
}

.footer-bar > p{
    width:100%;
    text-align:center;
    font-size: 20px;
}

.bg-image{
    margin:0px;
    background-image:url("https://th.bing.com/th/id/OIP.Sa0oWeUKljc0c_ZgCONShwHaCe?pid=ImgDet&rs=1");
    background-repeat:no-repeat;
    background-position:0%;
    background-size:100%;
    height:500px;
    background-color:green;
}

.div-section-1{
    top:0px;
    padding-left:5%;
    margin:0;
    background-image:linear-gradient(to bottom, lightskyblue, deepskyblue);
    border-style:solid none solid none;
    border-color:limegreen;
    border-width: 20px;
}

.div-section-middle{
    top:0px;
    margin:0;
    background-image:linear-gradient(to bottom, orange, gold);
    border-style:solid none solid none;
    border-color:cornflowerblue;
    border-width: 20px;
    text-align:center;
}

.imgbutton{
    width:600px;
    height:300px;
    border-style:solid;
    border-color:cornflowerblue;
    border-width:20px;
}

/*IDs*/

#heading-logo{
    height:75%;
    border-radius:100px;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    padding-bottom: 15px;
}

#logo-title{
    margin:0;
    padding-top:40px;
    text-align:center;
    font-size:30px;
    font-weight:bold;
    color:white;
    font-family:sans-serif;
}
